name: Pipeline DevSecOps

on: [push]

jobs:
  security-check:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v3

      - name: Installer Python
        uses: actions/setup-python@v4
        with:
          python-version : '3.9'

      - name: Test basique
        run: python app.py

      - name: Scan de secret avec Gitleaks
        uses : gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}